.card-wrapper {
  border-radius: 13px;
  background-color: hsl(0, 0%, 100%);
  padding: 18px;

  box-shadow: 0px 20px 50px -1px rgba(31, 50, 81, 0.15);
  -webkit-box-shadow: 0px 20px 50px -1px rgba(31, 50, 81, 0.15);
  -moz-box-shadow: 0px 20px 50px -1px rgba(31, 50, 81, 0.15);

  .content {
    width: 17.75rem;

    img {
      width: 100%;
      border-radius: 9px;
    }

    .text {
      width: 100%;
      margin-top: calc(2rem - 5px);

      h2 {
        color: hsl(218, 44%, 22%);
      }

      p {
        font-size: calc(1rem - 1px);
        color: hsl(220, 15%, 55%);
        letter-spacing: 0.3px;
      }
    }
  }
}
