.root-layout {
  display: flex;
  flex-direction: column;

  height: 100%;
  box-sizing: border-box;

  .root-content {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    a.go-back {
      position: absolute;
      top: 0.5rem;
      left: 2rem;
      text-decoration: none;
    }

    .nav-links {
      text-align: left;
    }
  }
}

@media (min-width: 1024px) {
  .root-content {
    a.go-back {
      left: 0;
    }
  }
}
